@font-face {
    font-family: 'Yeseva';
    font-display: swap;
    src: url("fonts/Yeseva/Yeseva-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url("fonts/Roboto/Roboto-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url("fonts/Roboto/Roboto-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url("fonts/Roboto/Roboto-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url("fonts/Roboto/Roboto-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    font-style: normal;
}

h1,
h2 {
    font-family: 'Yeseva', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.main-header {
    background-color: #181617;
}

.main-header__wrapper {
    box-sizing: border-box;
    min-height: 617px;
    padding: 27px 40px;
    background-image: url("./img/cat-main-mobile1x.webp");
    background-repeat: no-repeat;
    background-size: 275px 256px;
    background-position-x: 100%;
    background-position-y: 100%;
}

@media (min-resolution: 1.5dppx) {
    .main-header__wrapper {
        background-image: url("./img/cat-main-mobile2x.webp");
    }
}

@media (min-width: 768px) {
    .main-header__wrapper {
        min-height: 595px;
        background-image: url("./img/cat-main-tablet1x.webp");
        background-size: 651px 533px;
    }
}

@media (min-width: 768px) and (min-resolution: 1.5dppx) {
    .main-header__wrapper {
        background-image: url("./img/cat-main-tablet2x.webp");
    }
}

@media (min-width: 1366px) {
    .main-header__wrapper {
        min-height: 684px;
        width: 1366px;
        margin: 0 auto;
        padding: 45px 85px;
        background-image: url("./img/cat-main-desktop1x.webp");
        background-size: 1068px 712px;
        background-position-x: 110%;
        background-position-y: 10%;
    }
}

@media (min-width: 1366px) and (min-resolution: 1.5dppx) {
    .main-header__wrapper {
        background-image: url("./img/cat-main-desktop2x.webp");
    }
}

.main-header__content {
    position: relative;
    text-align: center;
}

@media (min-width: 768px) {
    .main-header__content {
        text-align: left;
        width: 50%;
    }
}

@media (min-width: 1366px) {
    .main-header__content {
        width: 30%;
        padding-left: 120px;
    }
}

.main-header__logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 55px;
}

@media (min-width: 768px) {
    .main-header__logo {
        width: 55px;
        height: 25px;
        margin-bottom: 95px;
    }
}

@media (min-width: 1366px) {
    .main-header__logo {
        width: 58px;
        height: 27px;
        margin-bottom: 110px;
    }
}

.main-header h1 {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
}

@media (min-width: 768px) {
    .main-header h1 {
        font-size: 52px;
        line-height: 60px;
    }
}

.main-header__city {
    margin-bottom: 6px;
    color: #a07b50;
}

@media (min-width: 768px) {
    .main-header__city {
        margin-bottom: 18px;
        font-size: 16px;
        line-height: 24px;
    }
}

.main-header__description {
    margin-bottom: 35px;
    color: #a07b50;
}

@media (min-width: 768px) {
    .main-header__description {
        width: 85%;
        margin-bottom: 52px;
        font-size: 16px;
        line-height: 24px;
    }
}

.main-header__main-link {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .main-header__main-link {
        margin-bottom: 58px;
    }
}

.main-header__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

@media (max-width: 767px) {
    .main-header__social {
        display: none;
    }
}

@media (min-width: 768px) {
    .main-header__social {
        width: 60px;
    }
}

@media (min-width: 1366px) {
    .main-header__social {
        position: absolute;
        width: auto;
        bottom: -70px;
        left: 0;
        transform: translateX(-50%);
        flex-direction: column;
    }
    .main-header__social::before {
        content: "";
        width: 0.5px;
        height: 80px;
        margin-bottom: 20px;
        background-color: rgba(255, 255, 255, 0.61);
    }
}

@media (min-width: 1366px) {
    .main-header__social li {
        margin-bottom: 10px;
    }
}

.main-header__social svg {
    fill: white;
}

.main-link {
    transition: background-color .5s;
    display: inline-block;
    padding: 11px 17px;
    border: 1px solid #a07b50;
    font-size: 12px;
    text-decoration: none;
    color: white;
}

@media (min-width: 768px) {
    .main-link {
        padding: 16px 38px;
        font-size: 14px;
        line-height: 16px;
    }
}

.main-link:hover {
    background-color: #111010;
}

.pets {
    padding: 30px 15px;
    text-align: center;
    background-color: #1f1c1d;
}

@media (min-width: 768px) {
    .pets {
        padding: 70px 30px;
    }
}

@media (min-width: 1366px) {
    .pets {
        padding-top: 195px;
    }
}

@media (min-width: 1366px) {
    .pets__wrapper {
        width: 1366px;
        margin: 0 auto;
    }
}

.pets h2 {
    font-size: 28px;
    line-height: 32px;
}

@media (min-width: 768px) {
    .pets h2 {
        margin-bottom: 22px;
        font-size: 36px;
        line-height: 42px;
    }
}

@media (min-width: 1366px) {
    .pets h2 {
        margin-bottom: 18px;
    }
}

.pets__description {
    margin-bottom: 32px;
    font-weight: 300;
    color: #a07b50;
}

@media (min-width: 768px) {
    .pets__description {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 42px;
        font-size: 16px;
        line-height: 26px;
    }
}

@media (min-width: 1366px) {
    .pets__description {
        width: 38%;
    }
}

.pets__list {
    list-style: none;
    margin: 0;
    padding-left: 0;
    flex-wrap: wrap;
    width: 234px;
    margin: 0 auto;
    margin-bottom: 38px;
}

@media (min-width: 768px) {
    .pets__list {
        width: 264px;
        margin-bottom: 14px;
    }
}

@media (min-width: 1366px) {
    .pets__list {
        margin-bottom: 38px;
    }
}

.pets__link {
    transition: color .5s;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.2);
}

.pets__link--active {
    color: white;
}

@media (min-width: 768px) {
    .pets__link {
        font-size: 18px;
        line-height: 21px;
    }
}

.pets__slider {
    margin-bottom: 42px;
}

@media (min-width: 768px) {
    .pets__slider {
        margin-bottom: 20px;
    }
}

@media (min-width: 1366px) {
    .pets__slider {
        margin-bottom: 65px;
    }
}

.pets-slider {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.pets-slider__list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

@media (min-width: 1366px) {
    .pets-slider__list {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        row-gap: 30px;
        width: 1050px;
        margin: 0 auto;
    }
}

@media (max-width: 767px) {
    .pets-slider__item:not(:first-child) {
        display: none;
    }
}

@media (min-width: 1366px) {
    .pets-slider__item--pet1 {
        grid-column: 2 / -1;
        grid-row: 1 / -1;
    }
}

@media (min-width: 1366px) {
    .pets-slider__item--pet2 {
        grid-column: 1 / 2;
        grid-row: 2 / -1;
    }
}

@media (min-width: 1366px) {
    .pets-slider__item--pet3 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
}

.pets-slider__picture {
    vertical-align: bottom;
}

@media (min-width: 768px) {
    .pets-slider__picture--pet1 {
        position: relative;
        width: 530px;
        height: 560px;
        z-index: 3;
    }
}

@media (min-width: 1366px) {
    .pets-slider__picture--pet1 {
        position: static;
        width: 474px;
        height: 485px;
    }
}

@media (min-width: 768px) {
    .pets-slider__picture--pet2 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 30px;
        width: 430px;
        height: 198px;
        z-index: 1;
    }
}

@media (min-width: 1366px) {
    .pets-slider__picture--pet2 {
        position: static;
        width: 517px;
        height: 241px;
        transform: none;
    }
}

@media (min-width: 768px) {
    .pets-slider__picture--pet3 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 65px;
        width: 471px;
        height: 198px;
        z-index: 2;
    }
}

@media (min-width: 1366px) {
    .pets-slider__picture--pet3 {
        position: static;
        width: 517px;
        height: 214px;
        transform: none;
    }
}

.pets-slider button {
    padding: 0;
    border: none;
    background-color: transparent;
    color: #a07b50;
    cursor: pointer;
}

@media (min-width: 1366px) {
    .pets-slider button {
        display: none;
    }
}

@media (min-width: 768px) {
    .pets-slider__arrow {
        width: 15px;
        height: 30px;
    }
}

.features {
    background-color: #1f1c1d;
}

@media (min-width: 768px) {
    .features {
        margin-bottom: -20px;
    }
}

.features__wrapper {
    padding: 26px 20px 40px;
    text-align: center;
}

@media (min-width: 768px) {
    .features__wrapper {
        padding-top: 20px;
        padding-bottom: 50px;
    }
}

@media (min-width: 1366px) {
    .features__wrapper {
        width: 1366px;
        margin: 0 auto;
        padding-top: 14px;
        padding-bottom: 55px;
    }
}

.features h2 {
    margin-top: 0;
    font-size: 28px;
    line-height: 32px;
}

@media (min-width: 768px) {
    .features h2 {
        margin-bottom: 22px;
        font-size: 36px;
        line-height: 42px;
    }
}

.features__description {
    margin-bottom: 30px;
    font-weight: 300;
    color: #a07b50;
}

@media (min-width: 768px) {
    .features__description {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 50px;
        font-size: 16px;
        line-height: 26px;
    }
}

@media (min-width: 1366px) {
    .features__description {
        width: 55%;
        margin-bottom: 25px;
    }
}

.features__content {
    position: relative;
}

.features__list {
    padding-left: 15px;
    text-align: left;
    line-height: 20px;
    font-weight: 300;
    color: white;
}

@media (min-width: 768px) {
    .features__list {
        list-style: none;
        font-size: 16px;
        line-height: 23px;
    }
}

.features__item {
    margin-bottom: 16px;
}

@media (min-width: 768px) {
    .features__item {
        position: absolute;
    }
    .features__item--1 {
        top: 120px;
        left: -20px;
        width: 180px;
        text-align: right;
    }
}

@media (min-width: 768px) and (min-width: 1366px) {
    .features__item--1 {
        top: 180px;
        left: 90px;
        width: 280px;
    }
}

@media (min-width: 768px) {
    .features__item--2 {
        top: 195px;
        right: -5px;
        width: 150px;
        text-align: left;
    }
}

@media (min-width: 768px) and (min-width: 1366px) {
    .features__item--2 {
        top: 285px;
        right: 70px;
        width: 280px;
    }
}

@media (min-width: 768px) {
    .features__item--3 {
        top: 340px;
        right: 40px;
        width: 130px;
        text-align: left;
    }
}

@media (min-width: 768px) and (min-width: 1366px) {
    .features__item--3 {
        top: 510px;
        right: 225px;
        width: 160px;
    }
}

@media (min-width: 768px) {
    .features__item--4 {
        top: 315px;
        left: -10px;
        width: 160px;
        text-align: right;
    }
}

@media (min-width: 768px) and (min-width: 1366px) {
    .features__item--4 {
        top: 470px;
        left: 130px;
        width: 220px;
    }
}

.features__item::marker {
    font-size: 1.8em;
    color: #a07b50;
}

.features__picture {
    margin-bottom: 15px;
    vertical-align: bottom;
}

@media (min-width: 768px) {
    .features__picture {
        width: 430px;
        height: 490px;
    }
}

@media (min-width: 1366px) {
    .features__picture {
        width: 650px;
        height: 720px;
    }
}

.benefits {
    background-color: #181617;
}

@media (min-width: 768px) {
    .benefits {
        position: relative;
        margin-bottom: -1px;
        z-index: 1;
    }
}

@media (min-width: 1366px) {
    .benefits {
        margin-bottom: -2px;
    }
}

.benefits__wrapper {
    box-sizing: border-box;
    padding: 55px 15px 30px;
}

@media (min-width: 768px) {
    .benefits__wrapper {
        padding: 85px 15px 60px;
    }
}

@media (min-width: 1366px) {
    .benefits__wrapper {
        width: 1366px;
        margin: 0 auto;
        padding: 85px 100px 45px;
    }
}

.benefits h2 {
    margin-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 28px;
    line-height: 32px;
}

@media (min-width: 768px) {
    .benefits h2 {
        margin-bottom: 22px;
        font-size: 36px;
        line-height: 42px;
    }
}

.benefits__description {
    margin-bottom: 35px;
    text-align: center;
    color: #a07b50;
}

@media (min-width: 768px) {
    .benefits__description {
        margin-bottom: 55px;
        font-size: 16px;
        line-height: 23px;
    }
}

@media (min-width: 1366px) {
    .benefits__description {
        margin-bottom: 50px;
    }
}

.benefits__list {
    list-style: none;
    margin: 0;
    padding-left: 0;
    color: white;
}

@media (min-width: 768px) {
    .benefits__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1366px) {
    .benefits__list {
        flex-direction: row;
        justify-content: space-between;
    }
}

.benefits__item {
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 15px;
    text-align: center;
    background-color: #1f1c1d;
}

@media (min-width: 768px) {
    .benefits__item {
        margin-bottom: 45px;
        width: 360px;
        height: 307px;
    }
}

.benefits__content {
    padding: 40px 30px;
    transition: all .5s;
    cursor: pointer;
}

.pats__link_hover:hover {
    color: #FFF
}

@media (min-width: 768px) {
    .benefits__content {
        padding: 55px 40px 24px;
    }
}

.benefits__content p {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .benefits__content p {
        font-size: 16px;
        line-height: 26px;
    }
}

.benefits__image {
    fill: #a07b50;
}

@media (min-width: 768px) {
    .benefits__image {
        margin-bottom: 10px;
    }
    .benefits__image--free-veterinary-care {
        width: 98px;
        height: 110px;
    }
    .benefits__image--advice-around-clock {
        width: 107px;
        height: 97px;
    }
    .benefits__image--individual-approach {
        width: 70px;
        height: 110px;
    }
}

.benefits__content:hover {
    background-color: #a07b50;
}

.benefits__content:hover svg {
    fill: white;
}

.care {
    background-image: url(img/background-cat-mobile1x.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #1f1c1d;
}

@media (min-resolution: 1.5dppx) {
    .care {
        background-image: url(img/background-cat-mobile2x.webp);
    }
}

@media (min-width: 768px) {
    .care {
        background-image: url(img/background-cat-tablet1x.webp);
    }
}

@media (min-width: 768px) and (min-resolution: 1.5dppx) {
    .care {
        background-image: url(img/background-cat-tablet2x.webp);
    }
}

@media (min-width: 1366px) {
    .care {
        background-image: url(img/background-cat-desktop1x.webp);
    }
}

@media (min-width: 1366px) and (min-resolution: 1.5dppx) {
    .care {
        background-image: url(img/background-cat-desktop2x.webp);
    }
}

.care__wrapper {
    box-sizing: border-box;
    padding: 55px 15px 30px;
}

@media (min-width: 768px) {
    .care__wrapper {
        padding-top: 90px;
        padding-bottom: 60px;
    }
}

@media (min-width: 1366px) {
    .care__wrapper {
        width: 1366px;
        min-height: 645px;
        margin: 0 auto;
        padding-left: 100px;
        padding-right: 100px;
    }
}

.care h2 {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 28px;
    line-height: 32px;
}

@media (min-width: 768px) {
    .care h2 {
        margin-bottom: 35px;
        font-size: 36px;
        line-height: 42px;
    }
}

@media (min-width: 1366px) {
    .care h2 {
        margin-bottom: 45px;
    }
}

.care__list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

@media (min-width: 768px) {
    .care__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1366px) {
    .care__list {
        width: 1158px;
        margin: 0 auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.care__item {
    box-sizing: border-box;
    display: flex;
    margin-bottom: 28px;
    border: 1px solid #a07b50;
}

@media (min-width: 768px) {
    .care__item {
        width: 559px;
        height: 168px;
    }
}

@media (min-width: 1366px) {
    .care__item {
        margin-bottom: 36px;
    }
    .care__item--wool {
        order: -2;
    }
    .care__item--сlaw {
        order: -1;
    }
}

.care__content {
    padding: 20px 5px 20px 25px;
}

@media (min-width: 768px) {
    .care__content {
        padding: 40px 50px;
    }
}

.care__content h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    color: #a07b50;
}

@media (min-width: 768px) {
    .care__content h3 {
        font-size: 22px;
        line-height: 26px;
    }
}

.care__content p {
    margin: 0;
    line-height: 20px;
    font-weight: 300;
    color: white;
}

@media (min-width: 768px) {
    .care__content p {
        font-size: 14px;
        line-height: 23px;
    }
}

.care__button {
    transition: background-color .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 45px;
    margin-left: auto;
    background-color: #a07b50;
    color: white;
    cursor: pointer;
}

@media (min-width: 768px) {
    .care__button {
        width: 60px;
    }
}

.care__button:hover {
    background-color: #8d6538;
}

.team {
    text-align: center;
    background-color: #181617;
}

.team__wrapper {
    padding: 55px 15px;
}

@media (min-width: 768px) {
    .team__wrapper {
        padding: 85px 45px 195px;
    }
}

@media (min-width: 1366px) {
    .team__wrapper {
        width: 1000px;
        margin: 0 auto;
        padding-bottom: 65px;
    }
}

.team__item {
    position: relative;
}

@media (min-width: 768px) {
    .team__item {
        box-sizing: border-box;
        width: 650px;
        padding: 24px;
        border: 0.5px solid rgba(160, 123, 80, 0.43);
    }
}

@media (min-width: 768px) {
    .team__item {
        margin-left: auto;
    }
}

.team__content {
    padding: 65px 10px 10px;
    background-color: #1f1c1d;
}

@media (min-width: 768px) {
    .team__content {
        padding: 45px 95px 70px 105px;
        text-align: left;
    }
}

.team h2 {
    margin-top: 0;
    margin-bottom: 22px;
    font-size: 28px;
    line-height: 32px;
}

@media (min-width: 768px) {
    .team h2 {
        margin-bottom: 20px;
        font-size: 36px;
        line-height: 42px;
    }
}

.team__description {
    margin-bottom: 100px;
    font-weight: 300;
    color: #a07b50;
}

@media (min-width: 768px) {
    .team__description {
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 25px;
    }
}

.team__slider {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
    .team__slider {
        top: 100%;
        left: auto;
        right: 10px;
        transform: translateY(-50%);
    }
}

@media (min-width: 1366px) {
    .team__slider {
        top: -1px;
        left: 0;
        transform: none;
        transform: translateX(-50%);
    }
}

.team__figcaption {
    margin-bottom: 18px;
    color: #a07b50;
}

.team__figcaption h3 {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
}

@media (min-width: 768px) {
    .team__figcaption h3 {
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 28px;
    }
}

.team__figcaption p {
    margin-top: 0;
}

@media (min-width: 768px) {
    .team__figcaption p {
        font-size: 16px;
    }
}

.team__about {
    margin-bottom: 25px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.72);
}

@media (min-width: 768px) {
    .team__about {
        margin-bottom: 50px;
        font-size: 16px;
        line-height: 25px;
    }
}

.team__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-left: 0;
    width: 70px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .team__social {
        margin: 0;
        margin-right: auto;
    }
}

.team__social-icon {
    fill: white;
}

@media (min-width: 768px) {
    .team__social-icon--facebook {
        width: 6.76px;
        height: 14.77px;
    }
}

@media (min-width: 768px) {
    .team__social-icon--twitter {
        width: 20.07px;
        height: 14.09px;
    }
}

@media (min-width: 768px) {
    .team__social-icon--vk {
        width: 21.03px;
        height: 12.23px;
    }
}

.team-slider {
    display: flex;
    justify-content: space-between;
    width: 174px;
}

@media (min-width: 768px) {
    .team-slider {
        width: 300px;
        align-items: flex-end;
    }
}

@media (min-width: 1366px) {
    .team-slider {
        width: auto;
        justify-content: flex-start;
        align-items: center;
    }
}

.team-slider__picture {
    vertical-align: bottom;
}

@media (min-width: 768px) {
    .team-slider__picture {
        width: 207.3px;
        height: 208.93px;
    }
}

@media (min-width: 1366px) {
    .team-slider__picture {
        width: 360px;
        height: 356px;
    }
}

.team-slider button {
    padding: 0;
    border: none;
    background-color: transparent;
    color: #a07b50;
    cursor: pointer;
}

@media (min-width: 768px) {
    .team-slider__arrow {
        width: 15px;
        height: 30px;
    }
}

@media (min-width: 1366px) {
    .team-slider__button {
        position: relative;
    }
    .team-slider__button--left {
        right: 125px;
    }
    .team-slider__button--right {
        left: 670px;
    }
}

.faq {
    background-color: #1f1c1d;
}

.faq__wrapper {
    padding: 60px 15px 20px;
}

@media (min-width: 768px) {
    .faq__wrapper {
        padding: 135px 55px 20px;
    }
}

@media (min-width: 1366px) {
    .faq__wrapper {
        width: 940px;
        margin: 0 auto;
        padding-top: 75px;
        padding-left: 0;
        padding-right: 0;
    }
}

.faq h2 {
    margin-top: 0;
    margin-bottom: 22px;
    text-align: center;
    font-size: 28px;
    line-height: 32px;
}

@media (min-width: 768px) {
    .faq h2 {
        font-size: 36px;
        line-height: 42px;
    }
}

.faq__description {
    margin-bottom: 38px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    font-weight: 300;
    color: #a07b50;
}

@media (min-width: 768px) {
    .faq__description {
        margin-bottom: 50px;
        font-size: 16px;
        line-height: 23px;
    }
}

.faq__list {
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-weight: 300;
    text-align: left;
    color: #ddd0c3;
}

.faq__item {
    position: relative;
}

@media (min-width: 768px) {
    .faq__item {
        padding-left: 102px;
    }
}

@media (min-width: 1366px) {
    .faq__item {
        padding-left: 142px;
    }
}

.faq__content {
    margin-bottom: 30px;
    border: 1px solid #544332;
}

.faq__question {
    display: flex;
}

.faq__question .faq__list-item-button {
    border-left: 1px solid #544332;
}

.faq__question .faq__question-minus {
    display: none;
}

.faq__question .faq__question-plus {
    display: block;
}

.faq__question--active .faq__list-item-button {
    border-left: none;
    background-color: #a07b50;
}

.faq__question--active .faq__question-minus {
    display: block;
}

.faq__question--active .faq__question-plus {
    display: none;
}

.faq__title {
    flex-grow: 1;
    margin: 0;
    padding: 10px 5px 10px 15px;
    font-weight: 500;
    color: white;
}

@media (min-width: 768px) {
    .faq__title {
        padding: 20px 28px;
        font-size: 16px;
        line-height: 19px;
    }
}

@media (min-width: 1366px) {
    .faq__title {
        padding: 40px;
    }
}

.faq__answer {
    display: block;
    margin: 0;
    padding: 12px 15px;
    border-top: 1px solid #544332;
    font-weight: 300;
    color: #ddd0c3;
}

@media (min-width: 768px) {
    .faq__answer {
        padding: 20px 28px;
        font-size: 16px;
        line-height: 25px;
    }
}

@media (min-width: 1366px) {
    .faq__answer {
        padding: 40px;
    }
}

.faq__answer p {
    margin-top: 0;
}

@media (min-width: 768px) {
    .faq__answer p {
        width: 77%;
        margin-bottom: 24px;
    }
}

.faq__answer p:last-child {
    margin-bottom: 0;
}

.faq__list-item-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 43px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .faq__list-item-button {
        width: 73px;
    }
}

@media (min-width: 1366px) {
    .faq__list-item-button {
        width: 104px;
    }
}

.faq__count {
    display: none;
}

@media (min-width: 768px) {
    .faq__count {
        display: block;
        position: absolute;
        top: 0;
        left: 22px;
        font-size: 50px;
        font-weight: 700;
        color: #a07b50;
    }
}

@media (min-width: 1366px) {
    .faq__count {
        font-size: 70px;
        font-weight: 700;
    }
}

.reviews {
    background-color: #1f1c1d;
}

.reviews__wrapper {
    padding: 0px 15px 58px;
}

@media (min-width: 768px) {
    .reviews__wrapper {
        padding: 65px 15px 80px;
    }
}

@media (min-width: 1366px) {
    .reviews__wrapper {
        width: 1070px;
        margin: 0 auto;
        padding-top: 100px;
        padding-bottom: 105px;
    }
}

.reviews h2 {
    margin-top: 0;
    margin-bottom: 138px;
    text-align: center;
    font-size: 28px;
}

@media (min-width: 768px) {
    .reviews h2 {
        margin-bottom: 140px;
        font-size: 36px;
    }
}

@media (min-width: 1366px) {
    .reviews h2 {
        margin-bottom: 55px;
    }
}

.reviews__item {
    box-sizing: border-box;
    position: relative;
    padding-top: 90px;
    padding-bottom: 40px;
    text-align: center;
    background-color: #181617;
}

@media (min-width: 768px) {
    .reviews__item {
        width: 578px;
        margin: 0 auto;
        padding-top: 125px;
    }
}

@media (min-width: 1366px) {
    .reviews__item {
        width: 640px;
        min-height: 408px;
        margin: 0;
        margin-left: auto;
        padding: 80px 60px 105px 145px;
        text-align: left;
    }
}

.reviews__slider {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 1366px) {
    .reviews__slider {
        top: 50%;
        left: -22%;
    }
}

.reviews__item h3 {
    font-size: 18px;
    font-weight: 500;
    color: white;
}

@media (min-width: 768px) {
    .reviews__item h3 {
        margin-bottom: 14px;
        font-size: 24px;
    }
}

.reviews__item p {
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.72);
}

@media (min-width: 768px) {
    .reviews__item p {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 30px;
        line-height: 21px;
    }
}

@media (min-width: 1366px) {
    .reviews__item p {
        width: auto;
        padding-left: 0;
        margin-bottom: 35px;
        line-height: 23px;
    }
}

.reviews__item-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 175px;
    margin: 0 auto;
    color: #a07b50;
}

@media (min-width: 1366px) {
    .reviews__item-footer {
        margin: 0;
        margin-right: auto;
    }
}

.reviews__item-footer time {
    font-size: 12px;
}

.reviews__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.reviews__social svg {
    fill: #a07b50;
}

.reviews__social li {
    padding: 5px;
    border: 1px solid #a07b50;
}

.reviews__social li:not(:last-child) {
    margin-right: 10px;
}

.reviews-slider {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (min-width: 768px) {
    .reviews-slider {
        width: 460px;
    }
}

@media (min-width: 1366px) {
    .reviews-slider {
        width: auto;
    }
}

.reviews-slider__picture {
    vertical-align: bottom;
}

@media (min-width: 768px) {
    .reviews-slider__picture {
        width: 302px;
        height: 208px;
    }
}

@media (min-width: 1366px) {
    .reviews-slider__picture {
        width: 481px;
        height: 332px;
    }
}

.reviews-slider button {
    padding: 0;
    border: none;
    background-color: transparent;
    color: #a07b50;
    cursor: pointer;
}

@media (min-width: 1366px) {
    .reviews-slider button {
        display: none;
    }
}

@media (min-width: 768px) {
    .reviews-slider__arrow {
        width: 15px;
        height: 30px;
    }
}

.main-footer {
    text-align: center;
    background-color: #151313;
}

.main-footer__wrapper {
    padding: 35px 15px;
}

@media (min-width: 768px) {
    .main-footer__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 50px;
    }
}

@media (min-width: 1366px) {
    .main-footer__wrapper {
        box-sizing: border-box;
        width: 975px;
        min-height: 156px;
        margin: 0 auto;
    }
}

.main-footer address {
    margin-bottom: 10px;
    font-style: normal;
    color: #d6ccc2;
}

@media (min-width: 768px) {
    .main-footer address {
        margin-bottom: 0;
    }
}

.main-footer__tel {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #fdf2e6;
}

@media (min-width: 768px) {
    .main-footer__tel {
        margin-bottom: 0;
        font-weight: 700;
    }
}

.main-footer__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-left: 0;
    width: 90px;
    margin: 0 auto;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .main-footer__social {
        width: 70px;
        margin: 0;
        order: -1;
    }
}

@media (min-width: 768px) {
    .main-footer__social--facebook {
        width: 6.76px;
        height: 14.49px;
    }
}

@media (min-width: 768px) {
    .main-footer__social--twitter {
        width: 20.07px;
        height: 13.82px;
    }
}

@media (min-width: 768px) {
    .main-footer__social--vk {
        width: 21.03px;
        height: 12px;
    }
}

.main-footer__social svg {
    fill: #a07b50;
}

@media (min-width: 768px) {
    .main-footer__logo {
        display: none;
    }
}

@media (min-width: 1366px) {
    .main-footer__logo {
        display: block;
        width: 47px;
        height: 21px;
        order: -2;
    }
}

.reviews__social_item {
    transition: all .5s;
}

.reviews__social_item:hover {
    cursor: pointer;
    background: #111010;
}